<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>list Of Popularity</title>
</head>
<body>

    <div>
        <form>

        </form>
    </div>

    <div>
        {% if list_of_popularity %}
            <h2>
                number of people
            </h2>

            <table>
                <thead>
                    <tr>
                        <td>
                            Country
                        </td>

                        <td>
                            Popularity
                        </td>
                    </tr>
                </thead>

            </table>

        {% else %}
            No Data :)
        {% endif %}
    </div>


</body>
</html>